<script id="tmpl-ActionControls" type="text/html">
	<div class="ActionControls">
    	<div class="btn btnCall" data-name="Call" style="display:none">Call</div>
    	<div class="btn btnCheck" data-name="Check" style="display:none">Check</div>
    	<div class="btn btnFold" data-name="Fold" style="display:none">Fold</div>
    	<div class="btn btnRaise" data-name="Raise" style="display:none">Raise</div>
    </div>
</script>
