<script id="tmpl-Login" type="text/html">
    <div class="Login">
        <h2>Login</h2>
        <form onsubmit="return false;">
        <div>
        	<div class="field">
        		<div class="field-label">User Name:</div>
        		<div class="field-value"><input type="text" name="username" /></div>
        	</div>
        </div>
        <div class="msg">
        </div>
        <div class="login-buttonbar">
 			<div class="btn action login-button">Login</button>
        </div>
        </form>
    </div>
</script>