<script id="tmpl-MainScreen" type="text/html">
    <div class="MainScreen">
    	<canvas width="0" height="0" class="baseCanvas"/>
    	<div class="mainScreen-top">
    	</div>
    	<div class="mainScreen-content">
    	</div>
    	<div class="mainScreen-bottom">
    		<div class="buttons">
    			<div class="btn btnCall">Call</div>
    			<div class="btn btnCheck">Check</div>
    			<div class="btn btnFold">Fold</div>
    			<div class="btn btnRaise">Raise</div>
    		</div>
    	</div>
    </div>
</script>
