<script id="tmpl-PokerChip" type="text/html">
    <div class="PokerChip">
    	{{if imgSrc}}
    		<img src="res/images/pokerchip_{{:imgSrc}}.png" width="20" height="20"/>
    		<span>{{:value}}</span>
    	{{/if}}
    </div>
</script>
