<script id="tmpl-Room" type="text/html">
    <div class="Room">
    	<canvas width="0" height="0" class="roomCanvas"/>
    	<div class="room-top">
    	</div>
    	<div class="room-content">
    	</div>
    	<div class="room-bottom">
    		<div class="actionControlsArea">
    		</div>
    	</div>
    </div>
</script>
