<script id="tmpl-Table" type="text/html">
    <div class="Table">
    	<div class="table-content">
	    	<div class="table-center">
	    		<div class="player player1"><div class="label">seat1</div></div>
	    		<div class="player player2"><div class="label">seat2</div></div>
	    		<div class="player player3"><div class="label">seat3</div></div>
	    		<div class="player player4"><div class="label">seat4</div></div>
	    		<div class="player player5"><div class="label">seat5</div></div>
	    		<div class="player player6"><div class="label">seat6</div></div>
	    		<div class="player player7"><div class="label">seat7</div></div>
	    		<div class="player player8"><div class="label">seat8</div></div>
	    		<div class="player player9"><div class="label">seat9</div></div>
	    	</div>
    	</div>
    </div>
</script>
